<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TransXLS2XML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TransXLS2XML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TransXLS2XML.Properties.Settings>
            <setting name="C_DOC" serializeAs="String">
                <value>J13</value>
            </setting>
            <setting name="C_DOC_SUB" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="C_DOC_VER" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="C_DOC_TYPE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C_DOC_CNT" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="C_REG" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="C_RAJ" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="PERIOD_MONTH" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PERIOD_TYPE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PERIOD_YEAR" serializeAs="String">
                <value>2020</value>
            </setting>
            <setting name="C_STI_ORIG" serializeAs="String">
                <value>1819</value>
            </setting>
            <setting name="C_DOC_STAN" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LINKED_DOCS" serializeAs="String">
                <value />
            </setting>
            <setting name="D_FILL" serializeAs="String">
                <value>09012020</value>
            </setting>
            <setting name="SOFTWARE" serializeAs="String">
                <value>MEDOC</value>
            </setting>
            <setting name="HSTI" serializeAs="String">
                <value>ГОЛОВНЕ УПРАВЛІННЯ ДПС У СУМСЬКІЙ ОБЛАСТІ, УПРАВЛІННЯ У М.СУМАХ  (М. СУМИ)</value>
            </setting>
            <setting name="HTIN" serializeAs="String">
                <value>05747991</value>
            </setting>
            <setting name="HNAME" serializeAs="String">
                <value>Акціонерне товариство "Сумське машинобудівне науково-виробниче об'єднання"</value>
            </setting>
            <setting name="HBOS" serializeAs="String">
                <value>Лук`яненко Володимир Матвійович</value>
            </setting>
            <setting name="HFILL" serializeAs="String">
                <value>09012020</value>
            </setting>
            <setting name="DOCNUMBER" serializeAs="String">
                <value />
            </setting>
        </TransXLS2XML.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TransXLS2XML.Properties.Settings>
            <setting name="TIN" serializeAs="String">
                <value>05747991</value>
            </setting>
        </TransXLS2XML.Properties.Settings>
    </applicationSettings>
</configuration>